@font-face{font-family:'Rubik';font-style:normal;font-weight:500;src:url(./rubik-hebrew-500-normal.woff2) format('woff2');font-display:block}
@font-face{font-family:'Rubik';font-style:normal;font-weight:600;src:url(./rubik-hebrew-600-normal.woff2) format('woff2');font-display:block}
@font-face{font-family:'Rubik';font-style:normal;font-weight:800;src:url(./rubik-hebrew-800-normal.woff2) format('woff2');font-display:block}
@font-face{font-family:'Heebo';font-style:normal;font-weight:900;src:url(./heebo-hebrew-900-normal.woff2) format('woff2');font-display:block}
